# This is a basic workflow to help you get started with Actions
# Based on 
#   1. https://github.com/uwdata/visualization-curriculum/blob/main/.github/workflows/build-book.yml
#   2. https://github.com/executablebooks/jupyter-book/issues/510#issuecomment-636227549
name: jupyter-book

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Setting up Python
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
    
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install jupyter-book 

      # Build Jupyter Book
      - name: Build Jupyter book
        run: jb build .
        
      # Runs a set of commands using the runners shell
      - name: Push Jupyter book to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/html
          target-folder: book
